
  <h3 class="text-primary">Games Found</h3>
  


  <div class="index">
    <% results.forEach(function(result) { %>
        <div class="card">
          <a href="/news<%= result.title%>">
            <img src="<%= result.urlToImage %>" class="card-img-top" alt="<%= result.title %>">
          </a>
          <div class="card-body">
    
            <h5 class="card-title"></h5>
            <form method="POST" action="/newsSearch">
        
            
              <input type="hidden" id="articleTitle" name="articleTitle" value="<%= result.title %>">
              <input type="hidden" id="articleUrl" name="articleUrl" value="<%= result.url %>">
              <input type="hidden" id="articleUrlToImage" name="articleImage" value="<%= result.UrlToImage %>">
              
              <input type="submit" class="btn btn-primary" value="Add to Read">
            </form>
          </div>
          
          
        </div>
      <% }); %>
      </div>